 .p-eight{
    background-color: #00aa5b;margin:0px;
 }
 .p-nine{
    background-color:#facbe8;margin:0px;
}
 .p-ten{
   background-color:#fda4db;margin:0px;
}
 .p-eleven{
    background-color: #ff7acc;margin:0px;
}
 .p-twelve{
    background-color:#fd54bc;margin:0px;
}
 .p-thirteen{
    background-color:#fa29aa;margin:0px;
}
.p-fourteen{
    background-color: #ff009d;margin:0px;
}

.text-color{
    color: white;
    opacity: 0.9;
}
